/* Reset some default browser weirdness */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page background & font */
body {
    font-family: Arial, sans-serif;
    background-color: #1f0909;
    color: #333;
}

/* Center everything */
.container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

/* Header styling */
.header h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Recipe list styling */
.recipe-list {
    list-style: none;
    background-color: #381515;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    
}

.recipe-list li {
    margin: 15px 0;
}

.recipe-list a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

.recipe-list a:hover {
    color: #004499;
}
